
body {
    display: flex;
    min-height: 80vh;
}

.form-container {
    background-color: #f8e1c2;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }  
  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input:focus {
    outline: none;
    border-color:  #ffc105;
    box-shadow: 0 0 5px #ffa202;
  }
  
  .btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color:  #ffc105;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #e47200;
  }
  
  .redirect {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .redirect a {
    color: #ff8103;
    text-decoration: none;
  }
  
  .redirect a:hover {
    text-decoration: underline;
  }

  p.error{
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: left;
    font-weight: bold;
  }
  .input-error {
    border-color: red;
    box-shadow: 0 0 5px red;
  }
  .input-error:focus {
    outline: none;
    border-color: red;
    box-shadow: 0 0 5px red;
  }