body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
.add-book-container {
    background-color: #f8e1c2;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    
  }
  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form Group Styles */
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #ffc105;
    box-shadow: 0 0 5px #ffa202;
  }
  
  /* Submit Button */
  .btn-submit {
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    background-color: #ffc105;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #e47200;
  }