<header>
    <nav class="navbar">
    <div class="navbar-logo">
      <img src="logo.png" alt="Logo" />
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/books">Catalog</a>
      <li><a routerLink="/add-book">Add Book</a>
    </ul>
    <div class="navbar-actions">
        <ul>
            <li>
              <a >Logout</a>
            </li>
            <li>
              <a routerLink="/login">Login</a>
            </li>
            <li>
              <a routerLink="/register">Register</a>
            </li>
         
          </ul>
    </div>
  </nav>
</header>

  